
:root {
    --primary-accent: #a5593e;   
    --secondary-accent: #4ECDC4;  
    --bg-color: #FFF9F5;          
    --text-main: #2D3436;         
    --card-bg: #FFFFFF;
    
    --font-header: 'Montserrat', sans-serif;
    --font-body: 'Lora', serif;
}
body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--font-body);
    margin: 0;
    line-height: 1.6;
  }
  
  h2 {
    font-family: var(--font-header);
    color: var(--primary-accent);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 40px 0;
  }
  
  
  .card {
    background: var(--card-bg);
    border: none; 
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(255, 107, 53, 0.05); 
    transition: all 0.3s ease;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(255, 107, 53, 0.15);
  }
  
  .card-content h3 {
    font-family: var(--font-header);
    color: var(--text-main);
    margin-bottom: 8px;
    transition: color 0.3s;
  }
  
  .card:hover h3 {
    color: var(--primary-accent); /* Title changes color on hover */
  }
  
  .card-content p {
    color: #636e72;
    font-size: 0.95rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

  .container img {
    width: 100%;
    height: auto;
    display: block; 
  }

@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* 1 column for mobile phones */
        padding: 20px;
    }
}
  

  
  